table{
    border-collapse:collapse;
}
th, td{
    padding:8px 16px;
    border:1px solid #e9e9e9;
    outline:none;
    white-space:nowrap;
    overflow: hidden;
}
th{
    background:#f7f7f7;
    color:#5c6b77;
    font-weight:600;
}
.counter{
    margin:0 5px;
}